<table class="jml-table table-hover table-bigger">
  <thead class="title-row-jml">
    <tr>
      <th class="text-center"><%= sortable "game_start", "Date" %></th>
      <th class="text-center"><%= sortable "gcode", "Game Number" %></th>
      <th class="text-center"><%= sortable "home_team.name", "Home" %></th>
      <th class="text-center"><%= sortable "away_team.name", "Away Team" %></th>
      <th class="text-center">Final</th>
      <th class="text-center"><%= sortable "game_start", "Start" %></th>
      <th class="text-center"><%= sortable "game_end", "End" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @season.games %>
  </tbody>
</table>
