<div class="row">
  <div class="small-12 columns">
    <%= search_form_for @q, remote: true, url: search_seasons_path,
      id: "season_game_search", builder: SimpleForm::FormBuilder,
      method: :get do |f| %>

      <table class="table-hover table-bigger">
        <thead>
          <tr>
            <th class="text-center" width="15%">
              <%= sort_link @q, :date, "Date",
                {}, { remote: true, method: :get }  %>
            </th>
            <th class="text-center" width="10%">
              <%= sort_link @q, :gcode, "#",
                {}, { remote: true, method: :get} %>
            </th>
            <th class="text-center" width="20%">Home</th>
            <th class="text-center" width="20%">Away</th>
            <th class="text-center" width="5%">Final</th>
            <th class="text-center" width="10%">Status</th>
            <th class="text-center" width="10%">
              <%= sort_link @q, :game_start, "Start", {},
                { remote: true, method: :get }%>
            </th>
            <th class="text-center" width="10%">
              <%= sort_link @q, :game_end, "End", {},
                { remote: true, method: :get } %>
            </th>
          </tr>
          <tr class="filter-row">
            <th><%= f.text_field :date_eq,
              data: { date: true, "date-format": "%Y-%m-%-d" },
              remote: true %></th>

            <th><%= f.text_field :gcode_cont, { class: "gcode-filter" } %></th>
            <th><%= f.text_field :home_team_name_cont %></th>
            <th><%= f.text_field :away_team_name_cont %></th>
            <th></th>
            <th><%= f.select :status_eq,
                options_for_select([["Preview", 1],
                                    ["In Progress", 2],
                                    ["Complete", 3],
                                    ["Complete (OT)", 4],
                                    ["Complete (SO)", 5]]),
                                    { include_blank: true } %></th>
            <th><%= f.datetime_field :game_start_eq %></th>
            <th><%= f.datetime_field :game_end_eq %></th>
          </tr>
        </thead>
        <tbody>
        <% end %>
          <%= render @game %>
        </tbody>
      </table>
  </div>
</div>
