<tr>
  <td class="name-col"><%= link_to player_game_summary.player.decorate.pretty_name, player_path(player_game_summary.player) %></td>
  <td class="text-center"><%= player_game_summary.player.position %></td>
  <td class="text-center"><%= player_game_summary.goals %></td>
  <td class="text-center"><%= player_game_summary.a1 %></td>
  <td class="text-center"><%= player_game_summary.a2 %></td>
  <td class="text-center"><%= player_game_summary.points %></td>
  <td class="text-center"><%= player_game_summary.ind_sc %></td>
  <td class="text-center"><%= player_game_summary.ind_cf %></td>
  <td class="text-center"><%= player_game_summary.c_diff %></td>
  <td class="text-center"><%= player_game_summary.f_diff %></td>
  <td class="text-center"><%= player_game_summary.g_diff %></td>
  <td class="text-center"><%= player_game_summary.cf %></td>
  <td class="text-center"><%= player_game_summary.ff %></td>
  <td class="text-center"><%= player_game_summary.zso %></td>
  <td class="text-center"><%= player_game_summary.zsd %></td>
  <td class="text-center"><%= player_game_summary.blocks %></td>
  <td class="text-center"><%= player_game_summary.fo_won %></td>
  <td class="text-center"><%= player_game_summary.fo_lost %></td>
  <td class="text-center"><%= player_game_summary.hits %></td>
  <td class="text-center"><%= player_game_summary.hits_taken %></td>
  <td class="text-center"><%= player_game_summary.pen %></td>
  <td class="text-center"><%= player_game_summary.pen_drawn %></td>
  <td class="text-center"><%= player_game_summary.toi %></td>
</tr>
