<div class="row">
  <div class="small-12 columns">
    <%= search_form_for @q, remote: true, id: "game_search",
        method: :get, url: season_games_path do |f| %>
      <table class="material-table">
        <thead>
          <tr>
            <th class="text-center" width="12%">
              <%= sort_link @q, :date, "Date",
                {}, { remote: true, method: :get }  %>
            </th>
            <th class="text-center" width="10%">
              <%= sort_link @q, :gcode, "#",
                {}, { remote: true, method: :get} %>
            </th>
            <th class="text-center" width="20%">Home</th>
            <th class="text-center" width="20%">Away</th>
            <th class="text-center" width="5%">Final</th>
            <th class="text-center" width="13%">Status</th>
            <th class="text-center" width="10%">
              <%= sort_link @q, :game_start, "Start", {},
                { remote: true, method: :get }%>
            </th>
            <th class="text-center" width="10%">
              <%= sort_link @q, :game_end, "End", {},
                { remote: true, method: :get } %>
            </th>
          </tr>
          <tr class="filter-row">
            <th><%= f.text_field :date_eq, remote: true %></th>
            <th><%= f.text_field :gcode_cont, { class: "gcode-filter" } %></th>
            <th><%= f.text_field :home_team_name_cont %></th>
            <th><%= f.text_field :away_team_name_cont %></th>
            <th></th>
            <th><%= f.select :status_eq,
                options_for_select([["Preview", 1],
                                    ["In Progress", 2],
                                    ["Complete", 3],
                                    ["Complete (OT)", 4],
                                    ["Complete (SO)", 5]]),
                                    { include_blank: true } %></th>
            <th><%= f.datetime_field :game_start_eq %></th>
            <th><%= f.datetime_field :game_end_eq %></th>
          </tr>
        </thead>
        <tbody>
        <% end %>
        <div id="games_table"> <%= render @games %> </div>
        </tbody>
      </table>

      <div class="row">
        <div class="small-10 small-offset-1 columns">
          <%= paginate @games %>
        </div>
      </div>
  </div>
</div>
