<div class="table-responsive">

<table class="table table-hover table-condensed team-table table-striped">

	<thead class="title-row-jml">
		<tr>
			<th class="name-col">Name</span></th>
			<th class="white-border" data-width="8%"><%= sortable "gf", "G" %></th>
			<th class="white-border" data-width="8%"><%= sortable "sf", "S" %></th>
			<th class="white-border" data-width="8%"><%= sortable "msf", "MS" %></th>
			<th class="white-border" data-width="8%"><%= sortable "bsf", "BS" %></th>
			<th class="white-border" data-width="8%"><%= sortable "scf", "SCf" %></th>
			<th class="white-border" data-width="8%"><%= sortable "cf", "CF"  %></th>
			<th class="white-border" data-width="8%"><%= sortable "zso", "ZSO" %></th>
			<th class="white-border" data-width="8%"><%= sortable "hits", "HIT" %></th>
			<th class="white-border" data-width="8%"><%= sortable "pen", "PEN" %></th>
			<th class="white-border" data-width="8%"><%= sortable "fo_won", "FOw" %></th>
			<th data-width="8%"><%= sortable "toi", "TOI" %></th>
		</tr>
	</thead>

	<tbody>
		<% @game.team_game_summaries.each do |tgs|  %>
			<tr>
				<td class="col-xs-3"><%= link_to tgs.team.name.to_s.titleize, team_path(tgs.team) %></td>
				<td class="text-center dot-col-border"><%= tgs.gf %></td>
				<td class="text-center dot-col-border"><%= tgs.sf %></td>
				<td class="text-center dot-col-border"><%= tgs.msf %></td>
				<td class="text-center dot-col-border"><%= tgs.bsf %></td>
				<td class="text-center dot-col-border"><%= tgs.scf %></td>
				<td class="text-center dot-col-border"><%= tgs.cf %></td>
				<td class="text-center dot-col-border"><%= tgs.zso %></td>
				<td class="text-center dot-col-border"><%= tgs.hits %></td>
				<td class="text-center dot-col-border"><%= tgs.pen %></td>
				<td class="text-center dot-col-border"><%= tgs.fo_won %></td>
				<td class="text-center dot-col-border"><%= tgs.toi %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
