<thead>
  <tr>
    <th class="name-col">Name</span></th>
    <th class="text-center"><%= sort_link @tq, "gf", "G", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "sf", "S", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "msf", "MS", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "bsf", "BS", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "scf", "SCf", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "cf", "CF", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "zso", "ZSO", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "hits", "HIT", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "pen", "PEN", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "fo_won", "FOw", remote: true %></th>
    <th class="text-center"><%= sort_link @tq, "toi", "TOI", remote: true %></th>
  </tr>
</thead>
