<thead>
  <tr>
    <th class="name-col" width="250">Name</span></th>
    <th class="text-center" width=100><%= sort_link @tq, "gf", "G" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "sf", "S" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "msf", "MS" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "bsf", "BS" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "scf", "SCf" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "cf", "CF"  %></th>
    <th class="text-center" width=100><%= sort_link @tq, "zso", "ZSO" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "hits", "HIT" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "pen", "PEN" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "fo_won", "FOw" %></th>
    <th class="text-center" width=100><%= sort_link @tq, "toi", "TOI" %></th>
  </tr>
</thead>
