<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table class="table">
  <thead>
    <tr>
      <th>Season</th>
      <th>Game Number</th>
      <th>Home Team</th>
      <th>     </th>
      <th>Away Team</th>
      <th>     </th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.season.season_years, season_path(@season) %></td>
        <td><%= link_to game.gcode, season_game_path(@season, game) %></td>
        <td><%= link_to game.home_team.name, team_path(game.home_team) %></td>
        <td><%= game.fscore_home %></td>
        <td><%= link_to game.away_team.name, team_path(game.away_team) %></td>
        <td><%= game.fscore_away %></td>
        <td><%= game.game_start.in_time_zone("Eastern Time (US & Canada)") %></td>
        <td><%= game.game_end.in_time_zone("Eastern Time (US & Canada)") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

