<p id="notice"><%= notice %></p>

<div class="row text-center">
  <div class="small-1 columns">
    <%= image_tag(@game.away_team.logo, height: 60, class: "teamlogo") %>
  </div>
  <div class="small-10 columns">
    <h1 class="text-center game-header">
      <%= @game.away_team.name %> <%= @game.away_team.nickname %>:
      <%= @game.fscore_away %> @ <%= @game.home_team.name %>
      <%= @game.home_team.nickname %>: <%= @game.fscore_home %></h1>
  </div>
  <div class="small-1 columns">
    <%= image_tag(@game.home_team.logo, height: 60, class: "teamlogo") %>
  </div>
</div>

<div class="row">
  <div class="small-6 small-offset-3 medium-8 medium-offset-2 columns end">
    <h4 class="text-center">
    <%= @game.game_start.strftime("%A, %B %-d, %Y - %I:%M %p") %></h4>
  </div>
</div>

<div class="small-12 columns gutters">
    <ul class="nav nav-tabs tabs" data-tab>
      <li class="tab-title active"><a href="#summary">Summary</a></li>
      <li class="tab-title"><a href="#charts">Charts</a></li>
    </ul>

  <div class="rounded-panel with-tabs">
    <div class="tabs-content">
      <div class="content active" id="summary">
        <%= render 'situation_panel' %>
        <div id="stats" class="container">
          <%= render 'stats_table' %>
        </div>
      </div>
      <div class="content" id="charts">
        <div class="row">
          <div class="small-12 columns">
            <%= render 'chart_selection_panel'%>
            <h3 class="subheader text-center">Running Event Count</h3>
            <%= high_chart("running-events", @event_count_chart) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="small-12 columns">
            <h3 class="subheader text-center">Corsi Heat Map</h3>
            <%= high_chart("heat-map", @corsi_heat_map) do |c| %>
              <%= raw "options.tooltip.formatter = function () {return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> was <br><b>' + this.point.value + '</b> corsi +/- against <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>' }" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Back', season_games_path %>
  </div>
</div>
