<p id="notice"><%= notice %></p>

<div class="container">

	<div class="row">
		<h1 class="text-center game-header"><%= image_tag(@game.away_team.image_path, width: 100, style: 'float:left') %><%= @game.away_team.name %> <%= @game.away_team.nickname %>: <%= @game.fscore_away %> @ <%= @game.home_team.name %> <%= @game.home_team.nickname %>: <%= @game.fscore_home %><%= image_tag(@game.home_team.image_path, width: 100, style: 'float:right') %></h1>
	</div>

	<div class="row">
		<h4 class="text-center"><%= @game.game_start.strftime("%A, %B %-d, %Y - %I:%M %p") %></h4>
	</div>

</div>
<div class="row">
	<div class="container">
		<%= form_tag(season_game_team_game_summaries_path(game_id: @game.id), method: :get, remote: true, id: "game-summary-tables")	%>
			<p>
			<%= select_tag(:situation_id, options_from_collection_for_select(Situation.all, :id, :name))	%>
			</p>
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<ul class="nav nav-tabs pull-left">
					<li role="presentation" class="active"><a href="#">Team Statistics</a></li>
				</ul>
			</div>
		</div>
		<div id="team-stats">
			<%= render 'team_table' %>
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<ul class="nav nav-tabs pull-left">
					<li role="presentation" class="active"><a href="#">Away Statistics</a></li>
				</ul>
			</div>
		</div>
		<div id="away-stats">
			<%= render 'away_player_table' %>
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<ul class="nav nav-tabs pull-left">
					<li role="presentation" class="active"><a href="#">Home Statistics</a></li>
				</ul>
			</div>
		</div>
		<div id="home-stats">
			<%= render 'home_player_table' %>
		</div>
	</div>
</div>

<%= link_to 'Back', season_games_path %>
