<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Final Score</th>
      <th>CF</th>
      <th>CA</th>
			<th>C +/-</th>
			<th>FF</th>
			<th>FA</th>
			<th>F +/-</th>
			<th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
		<tr>
			<td><%= @game.home_team.name %>
      <td><%= @game.fscore_home %></td>
      <td><%= @game.sa_for(@game.home_team) %></td>
			<td><%= @game.sa_for(@game.away_team) %></td>
			<td><%= @game.sa_for(@game.home_team) - @game.sa_for(@game.away_team) %>
      <td><%= @game.sa_for(@game.home_team, unblocked: true) %></td>
			<td><%= @game.sa_for(@game.away_team, unblocked: true) %></td>
			<td><%= @game.sa_for(@game.home_team, unblocked: true) - @game.sa_for(@game.away_team, unblocked: true) %>
    </tr>
		<tr>
			<td><%= @game.away_team.name %>
      <td><%= @game.fscore_away %></td>
      <td><%= @game.sa_for(@game.away_team) %></td>
			<td><%= @game.sa_for(@game.home_team) %></td>
			<td><%= @game.sa_for(@game.away_team) - @game.sa_for(@game.home_team) %>
      <td><%= @game.sa_for(@game.home_team, unblocked: true) %></td>
			<td><%= @game.sa_for(@game.away_team, unblocked: true) %></td>
			<td><%= @game.sa_for(@game.away_team, unblocked: true) - @game.sa_for(@game.home_team, unblocked: true) %>
    </tr>
  </tbody>
</table>

<table>
	<thead>
		<tr>

		</tr>
	</thead>
</table>


<%= link_to 'Back', season_games_path %>
