<div class="row title-row-jml">
  <div class="small-5 columns">
    <th class="name-col" width="40%"><%= sort_link @q,
      :last_name, "Name", { remote: true, method: :post } %> </th>
  </div>
  <div class="small-1 columns white-border text-center">
    <th class="text-center" width="20%"><%= sort_link @q,
      :position, "Pos.", { remote: true, method: :post } %></th>
  </div>
  <div class="small-5 columns text-center">
    <th class="text-center", width="40%"><%= sort_link @q,
      'teams.name', "Current Team", { remote: true, method: :post } %></th>
  </div>
</div>
<ul class="accordion no-margin player-list" data-accordion>
  <% @players.each_with_index do |player,index| %>
    <% player = player.decorate %>
    <% if (index == 0) || (index % 2) == 0 %>
      <% accordion_class = "accordion-navigation even" %>
    <% else %>
      <% accordion_class = "accordion-navigation odd" %>
    <% end %>
    <%= content_tag(:li, class: accordion_class) do %>
      <a href="#player_<%= player.id %>">
        <div class="row">
          <div class="small-5 columns">
            <td><%= player.pretty_name %></td>
          </div>
          <div class="small-1 columns text-center">
            <td><%= player.pretty_pos %></td>
          </div>
          <div class="small-5 columns text-center">
            <td><%= player.team_full %></td>
          </div>
        </div>
      </a>
      <%= div_for(player, class: "content") do %>
        <div class="row">
          <div class="small-2 columns">
            <%= link_to(image_tag(player.headshot,
                                  class:"headshot",
                                  alt:"#{player.pretty_name}"),
                        player_path(player)) %>
          </div>
          <div class="small-2 columns player-bio">
            <div class="row">
              <div class="small-6 columns">
                <h3 class="player-subhead">Number:</h3>
              </div>
              <div class="small-6 columns">
                <%= content_tag :span, player.pretty_number %>
              </div>
            </div>

            <div class="row">
              <div class="small-6 columns">
                <h3 class="player-subhead">Height:</h3>
              </div>
              <div class="small-6 columns">
                <%= content_tag :span, player.pretty_height %>
              </div>
            </div>

            <div class="row">
              <div class="small-6 columns">
                <h3 class="player-subhead">Weight:</h3>
              </div>
              <div class="small-6 columns">
                <%= content_tag :span, player.pretty_weight %>
              </div>
            </div>
            <div class="row">
              <div class="small-6 columns">
                <h3 class="player-subhead">Shoots:</h3>
              </div>
              <div class="small-6 columns">
                <%= content_tag :span, player.pretty_shoots %>
              </div>
            </div>
          </div>

          <div class="small-5 columns player-bio">
            <div class="row">
              <div class="small-4 columns">
                <h3 class="player-subhead">Birthdate:</h3>
              </div>
              <div class="small-8 columns">
                <%= content_tag :span, player.pretty_birthdate %>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <h3 class="player-subhead">Birthplace:</h3>
              </div>
              <div class="small-8 columns">
                <%= content_tag :span, player.pretty_birthplace %>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <h3 class="player-subhead">Drafted:</h3>
              </div>
              <div class="small-8 columns">
                <%= content_tag :span, player.pretty_drafted %>
                <%= wiki_link_draft(player) %>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <h3 class="player-subhead">Round:</h3>
              </div>
              <div class="small-8 columns">
                <%= content_tag :span, player.pretty_draft_round %>
              </div>
            </div>
          </div>

          <div class="small-2 columns player-bio">
          </div>

        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
<%= paginate @players, remote: true %>
