<div class="row title-row-jml">
  <div class="small-5 columns">
    <th class="name-col" width="40%"><%= sort_link @q,
      :last_name, "Name", {remote: true, method: :post} %> </th>
  </div>
  <div class="small-1 columns white-border text-center">
    <th class="text-center" width="20%"><%= sort_link @q,
      :position, "Pos.", {remote: true, method: :post} %></th>
  </div>
  <div class="small-5 columns text-center">
    <th class="text-center", width="40%"><%= sort_link @q,
      'teams.name', "Current Team", {remote: true, method: :post} %></th>
  </div>
</div>
<ul class="accordion no-margin player-list" data-accordion>
  <% @players.each_with_index do |player,index| %>
    <% if (index == 0) || (index % 2) == 0 %>
      <% accordion_class = "accordion-navigation even" %>
    <% else %>
      <% accordion_class = "accordion-navigation odd" %>
    <% end %>
    <%= content_tag(:li, class: accordion_class) do %>
      <a href="#player_<%= player.id %>">
        <div class="row">
          <div class="small-5 columns">
            <td><%= player.pretty_name %></td>
          </div>
          <div class="small-1 columns text-center">
            <td><%= player.pretty_pos %></td>
          </div>
          <div class="small-5 columns text-center">
            <td><%= player.team_full %></td>
          </div>
        </div>
      </a>
      <%= div_for(player, class: "content") do %>
        <%= player.team_full %>
      <% end %>
    <% end %>
  <% end %>
</ul>
