<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row tab-row-on-panel">
    <div class="small-12 columns gutters">
      <ul class="nav nav-tabs tabs" data-tab>
        <li class="tab-title active"><a href="#skaters">SKATERS</a></li>
        <li class="tab-title"><a href="#goalies">GOALIES</a></li>
        <div class="pull-right search-box">
          <%= search_form_for @q,
            id: "players_search", remote: true do |f| %>
            <%= f.search_field :first_name_or_last_name_or_team_name_or_team_nickname_cont, {class: "hugging"} %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>

  <div class="row panel-row-with-tabs">
    <div class="small-12 columns gutters">
      <div class="rounded-panel with-tabs player-panel">
        <div class="tabs-content">
          <div class="content active" id="skaters">
            <%= render 'players' %>
          </div>
          <div class="content" id="goalies">
            <%= render 'players' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
